/* ============================================================================
 CONTENT 
============================================================================*/
#content-wrapper{
    flex-grow:1;
    background:white;
    border-radius: $rounded-inner;
  }
#wrapper #content {
    padding:16px;
    & ul, & ol {
        margin: 8px 16px;
    }
    & p {
        margin: 8px;
    }
    & hr {
        margin: 32px ;
    }
}