
#wrapper header {
  grid-area: header;
}
#wrapper footer {
  grid-area:footer;
}
#sidebar {
  grid-area: sidebar;
}
#content-wrapper{
  grid-area: content;
}
@supports (display:grid){
  #wrapper{  
      display:grid;
      max-width:960px;
      margin:auto;  
      grid-template-columns: 200px auto;
      grid-template-rows: 1fr auto 1fr;
      grid-template-areas: 
        "header sidebar"
        "content content"
        "footer footer";
  }
  @include breakpoint(small){      
    #wrapper {
      grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
    } 
  }
 }