/* ============================================================================
 GRID 
============================================================================*/

#wrapper {
  & #header {
    grid-area: header;
  }
  & #footer {
    grid-area:footer;
  }
  & #sidebar {
    grid-area: sidebar;
  }
  & #content-wrapper{
    grid-area: content;
  }
}



@supports (display:grid){
  /* GRID breakpoints (if viewer supports grid) */
  @include breakpoint(small){     
    #wrapper {
      margin:auto; 
      display:grid;
      max-width:960px; 
      grid-template-columns: 200px auto;
      grid-template-rows: 100px auto 100px;
      grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
    } 
  }
 }