/* ============================================================================
 SIDEBAR 
============================================================================*/
#wrapper #sidebar {
    background: $nav-bg;
}
#sidebar ul {
    list-style-type: none;
    display:flex;
    flex-direction:column;
    padding: 0;
    & h4 {
        text-align:center;
    }
    & li {
        display: inline-block;
        height:1.5rem;
        &:nth-of-type(odd){
            background:$white;
        }
        &:nth-of-type(even){
            background:$white-dark;
        }
        & + li {
        border-top: solid 1px $gray; 
        }
    }
    & button {
        width:100%;
        text-align:left;
    }
    & li a {
        padding:4px 8px;
        &.active, &:hover, &:focus {
            border-bottom: solid 3px $primary-color-light;
        }
    }
    & a.link {
        display:block;
        padding-left:8px;
    }
}
@include breakpoint(small){
    #wrapper {
        & #sidebar.container {            
            margin-right:0;
            border-radius:   $rounded-inner 0 0 $rounded-inner;
        }
        & #content-wrapper.container {            
            margin-left:0;
            border-radius:  0 $rounded-inner $rounded-inner 0;
        }

    }
}