$rounded-outer: 10px;
$rounded-inner: 5px;

$primary-color-dark: #5a19a3;
$primary-color-light: #c099ff;
$nav-bg: #c099ff;
$white: #fff;
$white-dark: #f4f4f4;
$gray: #e0e0e0;
//Breakpoints
$breakpoints: ( //breakpoints map
    'xsmall': 575px, //max-width
    'small'	: 576px, // < min-width 
    'medium': 768px,
    'large'	: 992px,
);