
@import '_partials/variables';
@import '_partials/mixins';

html{
  font-size:16px;
  line-height:1.5rem;
}
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  line-height:1.5rem;
}
a {  text-decoration:none;}
button.link {
    background:none;
    border:none;
}
button.link:hover {
    cursor:pointer;
    color:blue;
}  
#root{
  min-height:100vh;
}
#wrapper {
  width:100%;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  //justify-content:space-around;
	background:#5a19a3;
	padding:8px;
	box-shadow: 10px 10px 10px #120521;
  //border-radius: $rounded-outer;
    & .container {
      margin:8px;
      background:white;
      border-radius: $rounded-inner;
    }
    & .container + .container{ 
      margin-top: 0;
    }
}
//All navigation links will fill out their list element
nav ul li {
  list-style-type: none;
  & a {
  display: block;
  width: 100%;
  height: 100%;
}
}
@import '_partials/grid'; 
@import '_partials/sidebar';
@import '_partials/content';
@import '_partials/header';
@import '_partials/footer';
